<div class="row">
  <div class="col-md-6">
    <h2>Not implemented yet</h2>
    <p class="text-lg">Just stub page</p>

    <hr>
    <!-- TODO: inline blocked -->
    <a href="#" id="go-back">Go Back</a>
  </div>
</div>

