<div class="row">
  <div class="col-md-6">
    <h2>Not implemented yet</h2>
    <p class="text-lg">Just stub page</p>

    <hr>
    <!--
      NOTE: by default inline JavaScript is NOT allowed.

      To enable it need add directive: script-src ‘unsafe-inline’
      in the file apps/web/application.rb
      change setting security.content_security_policy
    -->
    <a href="#" onclick="window.history.back()">Go Back</a>
  </div>
</div>

