<h2 class="mb-4">Add book</h2>

<div class="row">
  <div class="col-sm-8">
    <% unless params.valid? %>
      <div class="errors alert-danger mb-2">
        <p class="errors-title">There was a problem with your submission</p>
        <ul class="no-list">
          <% params.error_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <%=
      form_for :book, routes.books_path do
        div class: 'input form-group' do
          label      :title
          text_field :title, class: 'form-control'
        end

        div class: 'input form-group' do
          label      :author
          text_field :author, class: 'form-control'
        end

        div class: 'controls text-center' do
          submit 'Create Book', class: 'btn btn-primary mt-2'
        end
      end
    %>
  </div>
</div>
